* {
  box-sizing: border-box;
}

html {
  height: 100%;
  /* font-size: 14px; */
}

html::-webkit-scrollbar {
    width: 0px;
}

body {
  margin: 0;
  height: 100%;
  /* 禁止 Safari 的双击放大 */
  touch-action: manipulation;
  /* 平滑滚动 */
  scroll-behavior: smooth;

  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
}

#root{
  height: 100%;
  margin: auto;
  max-width: 900px;
}

/* https://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete */
@keyframes autofill {
  to {
    color: #666;
    background: transparent;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  animation-name: autofill;
  animation-fill-mode: both;
}

/* https://stackoverflow.com/questions/5106934/prevent-grey-overlay-on-touchstart-in-mobile-safari-webview */
div {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* for markdown */
/* github style markdown css */
a {
  color: #4183C4;
  text-decoration: none;
}

a.absent {
  color: #cc0000;
}

a.anchor {
  display: block;
  padding-left: 30px;
  margin-left: -30px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

code {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px;
}

pre code {
  font-family: consolas;
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent;
}

.highlight pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}

pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}

blockquote {
  border-left: 4px solid #dddddd;
  padding: 0 15px;
  color: #777777;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

blockquote > :first-child {
  margin-top: 0;
}

blockquote > :last-child {
  margin-bottom: 0;
}
